<a href="https://colab.research.google.com/github/LatiefDataVisionary/data-science-application-college-task/blob/main/numpy_pandas_implementaion_w4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **1. Mengimport Library**

In [1]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.26.4
2.2.2

## **2. Load Dataset**

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/LatiefDataVisionary/data-science-application-college-task/refs/heads/main/datasets/diamonds.csv')

## **3. Melihat Informasi Dasar Dataset (Pandas)**

In [5]:
df.head() # menampilkan 5 baris pertama

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [6]:
df.info()   # Menampilkan informasi dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [7]:
df.describe()  # Menampilkan statistik deskriptif

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

## **4. Menggunakan NumPy untuk Analisis Numerik**

---

In [17]:
# Mengambil kolom 'price' sebagai array NumPy
prices = df['price'].values

# Menghitung rata-rata harga
mean_price = np.mean(prices)
print(f'Rata-rata harga: ${float(mean_price):.2f}')

Rata-rata harga: $3932.80

In [18]:
# Menghitung median harga
median_price = np.median(prices)
print(f'Median harga: ${float(median_price):.2f}')

Median harga: $2401.00

In [16]:
# Menghitung standar deviasi harga
std_price = np.std(prices)
print(f"Standar deviasi harga: {float(std_price):.2f}")

Standar deviasi harga: 3989.40

In [20]:
# Menghitung nilai maksimum dan minimum harga
max_price = np.max(prices)
min_price = np.min(prices)

print(f'Harga maksimum: ${max_price:.2f}')
print(f'Harga minimum: ${min_price:.2f}')

Harga maksimum: $18823.00
Harga minimum: $326.00

In [14]:
# Menghitung korelasi antara 'carat' dan 'price'
carat = df['carat'].values
correlation_carat_price = np.corrcoef(carat, prices)[0, 1]
print(f'Korelasi antara carat dan price: {correlation_carat_price:.2f}')

Korelasi antara carat dan price: 0.92

In [19]:
# Menghitung nilai maksimum dan minimum carat
max_carat = np.max(carat)
min_carat = np.min(carat)

print(f'Carat maksimum: {max_carat:.2f}')
print(f'Carat minimum: {min_carat:.2f}')

Carat maksimum: 5.01
Carat minimum: 0.20

## **5. Filtering Data dengan Numpy**

In [21]:
# Filter Harga diatas $10.000
high_prices = prices[prices > 10000]
print(f'Jumlah berlian dengan harga diatas $10.000: {len(high_prices)}')

Jumlah berlian dengan harga diatas $10.000: 5222

In [22]:
# Filter harga dibawah $1.000
low_prices = prices[prices > 1000]
print(f'Jumlah berlian dengan harga dibawah $1.000: {len(low_prices)}')

Jumlah berlian dengan harga dibawah $1.000: 39416

In [24]:
# Filter harga diantara $1.000-$5.000
prices_1k_to_5k = prices[(prices >= 1000) & (prices <= 5000)]
print(f'Jumlah berlian dengan harga diantara $1.000-$5.000: {len(prices_1k_to_5k)}')

Jumlah berlian dengan harga diantara $1.000-$5.000: 24727

In [25]:
# Filter harga diantara $5.000-$10.000
prices_1k_to_5k = prices[(prices > 5000) & (prices <= 10000)]
print(f'Jumlah berlian dengan harga diantara $5.000-$10.000: {len(prices_1k_to_5k)}')

Jumlah berlian dengan harga diantara $5.000-$10.000: 9492

In [28]:
# Filter carat diatas 1.5
high_carats = carat[carat > 1.5]
print(f'Jumlah berlian dengan carat diatas 1.5: {len(high_carats)}')

Jumlah berlian dengan carat diatas 1.5: 5442

In [30]:
# Filter carat dibawah 1.5
low_carats = carat[carat < 1.5]
print(f'Jumlah berlian dengan carat dibawah 1.5: {len(low_carats)}')

Jumlah berlian dengan carat dibawah 1.5: 47705

## **6. Menghitung Persentil dengan Numpy**

In [31]:
# Menghitung percentile untuk harga
percentile_25 = np.percentile(prices, 25)
percentile_50 = np.percentile(prices, 50)  # median
percentile_75 = np.percentile(prices, 75)

print(f'Percentile 25: ${percentile_25:.2f}')
print(f'Percentile 50 (Median): ${percentile_50:.2f}')
print(f'Percentile 75: ${percentile_75:.2f}')

Percentile 25: $950.00
Percentile 50 (Median): $2401.00
Percentile 75: $5324.25

In [32]:
# Menghitung percentile untuk carat
percentile_25 = np.percentile(carat, 25)
percentile_50 = np.percentile(carat, 50)  # median
percentile_75 = np.percentile(carat, 75)

print(f'Percentile 25: {percentile_25:.2f}')
print(f'Percentile 50 (Median): {percentile_50:.2f}')
print(f'Percentile 75: {percentile_75:.2f}')

Percentile 25: $0.40
Percentile 50 (Median): $0.70
Percentile 75: $1.04

## **7. Membuat Histogram dengan NumPy**

In [35]:
# Membuat histogram untuk harga
hist, bin_edges = np.histogram(prices, bins=10)
print('Frekuensi Histogram')
print(hist)
print('Batas bin Histogram')
print(bin_edges)

Frekuensi Histogram
[25335  9328  7393  3878  2364  1745  1306  1002   863   726]
Batas bin Histogram
[  326.   2175.7  4025.4  5875.1  7724.8  9574.5 11424.2 13273.9 15123.6
 16973.3 18823. ]

## **9. Operasi matematika**